     /* Styles for the footer */
.footer {
  margin-top: auto; /* Push the footer to the bottom */
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #007bff; /* Hover color */
}

.footer-links .footer-link:last-child {
  margin-right: 0;
}

.footer-contact p {
  margin: 0;
  font-size: 16px;
  color: gainsboro;
}
.footer-bottom p{
  color: gainsboro;
}
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ffffff;
  font-size: 14px;
}

/* Styles for the social media icons */
.social-icon {
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #007bff; /* Hover color */
}

/* Additional styles for your links */
.footer-link {
  text-decoration: none;
  color: #007bff; /* Link color */
  font-weight: bold;
}

.footer-link:hover {
  text-decoration: underline;
}
