  /* home.css */

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #05b0ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.typing-animation {
  overflow: hidden; /* Hide overflow text */
  border-right: 2px solid #333; /* Create a typing cursor effect */
  white-space: nowrap; /* Keep text on a single line */
  animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite;
}

.heading {
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
  padding-bottom: 40px;
  color: #03a7ff;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid transparent;
  max-width: 100%; /* Make the text responsive */

  /* Animation */
  animation: typing 3s steps(40, end) 3s infinite;
}

/* Typing Animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}



h1 {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  color: #fff; /* White text color */
}

/* Styles for Carousel */
.carousel {
  margin-top: 20px;
}

/* Styles for the scrolling Notice Board */
.notice-board {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
  max-height: 80%; /* Adjust the height based on your design */
}

.notice-board ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  animation: scroll 15s linear infinite; /* Add scrolling animation */
}

.notice-board li {
  font-size: 18px;
  color: #333; /* Dark text color */
  margin-bottom: 10px;
}

/* New notices style */
.notice-board li.new {
  font-weight: bold;
  color: #ff0000; /* Red text color for new notices */
}

/* Styles for Contact Us */
.contact-us {
  background-color: skyblue;
  padding: 20px;
  border-radius: 5px;
}

.contact-us h2 {
  font-size: 20px;
  color: #333; /* Dark text color */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .heading{
    font-size: 15px;
  }
  .content {
    flex-direction: column;
  }

  .notice-board,
  .contact-us {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* Animation keyframes for scrolling */
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
